.catalog {
    
    &__products {
        &-inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            padding: 60px 0;
        }
    }

    &__info {
        display: flex;
        max-width: 920px;
        margin: 150px auto;

        &-text {
            max-width: 540px;

            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }

        &-link {
            display: inline-block;
            position: relative;
        }

        &-hover {
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0px;
            border-bottom: 2px dashed var(--accent);
            transition: all 0.5s ease-in-out;
        }
        &-services{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px 60px;
            max-width: 280px;
            text-align: center;
            margin-left: 100px;
        }
    }
}