@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-Bold.woff2") format("woff2"), url("../fonts/NotoSerif-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: NotoSerif;
	font-display: swap;
	src: url("../fonts/NotoSerif-Bold.woff2") format("woff2"), url("../fonts/NotoSerif-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'icon';
	src:
	  url('../fonts/icon.ttf?jx5mpc') format('truetype'),
	  url('../fonts/icon.woff?jx5mpc') format('woff'),
	  url('../fonts/icon.svg?jx5mpc#icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
	content: "\e900";
  }
  .icon-e:before {
	content: "\e901";
  }
  .icon-fb:before {
	content: "\e902";
  }
  .icon-heart:before {
	content: "\e903";
  }
  .icon-location:before {
	content: "\e904";
  }
  .icon-mail:before {
	content: "\e905";
  }
  .icon-marker:before {
	content: "\e906";
  }
  .icon-phone:before {
	content: "\e907";
  }
  .icon-search:before {
	content: "\e908";
  }
  .icon-telegram:before {
	content: "\e909";
  }
  .icon-toutube:before {
	content: "\e90a";
  }
  .icon-user:before {
	content: "\e90b";
  }
  .icon-vk:before {
	content: "\e90c";
  }
  