.product {
    &__content {
        text-align: center;

        &-title {
            text-align: left;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        &-path {
            font-size: 14px;
            line-height: 150%;
            display: flex;
            justify-content: start;
            color: var(--hard-grey);
            margin-bottom: 30px;
            border-bottom: 1px solid var(--grey);

            span {
                margin-left: 15px;
                margin-right: 25px;
            }
        }

        &-text {
            font-size: 14px;
            line-height: 150%;
            text-align: left;
            margin-bottom: 30px;
        }

        &-price {
            text-align: left;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            line-height: 21px;

        }

        &-btn {
            background: var(--accent);
            border: 1px solid var(--accent);
            color: var(--white);
            opacity: 1;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }

        }

        &-btncard {
            border: 1px solid var(--accent);
            opacity: 1;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &-item:last-child {
            margin-left: 15px;
        }

        &-list {
            display: flex;
            justify-content: center;
            margin: 60px 0 50px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;

            a {
                text-decoration-line: underline;
                margin: 0 15px;
            }
        }

        &-inner {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(2, 1fr);

        }

        &-slider {
            min-width: 0;
            overflow: hidden;

            img {
                max-width: 540px;
                height: 430px;
                object-fit: cover;
            }
        }

        &-info {
            border: 1px solid var(--grey);
            padding: 10px;
        }

        &-infobox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 30px;
            border: 1px solid var(--grey);
        }
    }

    &__picture {
        &-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 140%;
            margin-bottom: 30px;
        }
    }

    &__more {
        text-align: center;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 

  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .product__content-slider {
    width: 100%;
  }

  .product__content-trumber {
    // position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .product__content-trumber .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .product__content-trumber .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }